.listHolder {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}

.listItem {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
  position: relative;
}

.reserved {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  padding: 5px 10px;
  border-radius: inherit;
}
