.my-profile {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  overflow: hidden;
}

.title {
  font-size: 22px;
}

.lists-container {
  display: grid;
  gap: 10px;
  height: 100%;
  grid-template-columns: 3fr 2fr 2fr;
}

.reserved-missions {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 3px;
  box-shadow: var(--shadow-primary);
}

.reserved-missions h3,
.reserved-rockets h3,
.reserved-dragons h3 {
  padding: 3px;
}

.reserved-missions ul {
  padding: 3px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reserved-rockets {
  box-shadow: var(--shadow-primary);
  padding: 3px;
}

.reserved-dragons {
  box-shadow: var(--shadow-primary);
  padding: 3px;
}
