.rocket {
  height: 100%;
  width: 100%;
}

.listHolder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  justify-content: center;
  /* align-items: center; */
  margin-top: auto;
  padding: 3px;
  overflow-x: hidden;
  overflow-y: scroll;
  height: calc(100% - 35.6px);
  padding-bottom: 5px;
}

.listItem {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: var(--shadow-terciary);
  padding: 5px;
  flex: 1;
  position: relative;
}

.title {
  align-items: center;
  display: flex;
  gap: 20px;
  padding: 3px;
  font-size: 20px;
  z-index: 1;
  letter-spacing: 1px;
  font-weight: 500;
  color: var(--color-primary-500);
}

.description {
  color: white;
  z-index: 1;
}
.gradient {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 0;
  width: 100%;
  pointer-events: none;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.1),
    rgba(0, 0, 0, 0.1) 10%,
    rgba(0, 0, 0, 0.2) 20%,
    rgba(0, 0, 0, 0.3) 60%,
    rgba(0, 0, 0, 0.2) 80%,
    rgba(0, 0, 0, 0.1) 90%,
    rgba(255, 255, 255, 0.2) 100%
  );
}

@media (max-width: 740px) {
  .listHolder {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
