.button {
  width: max-content;
  padding: 5px 10px;
  align-self: flex-end;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  border: none;
  box-shadow: var(--shadow-secondary);
  color: inherit;
}

.button:hover {
  background-color: white;
}
