.listItem {
  width: 38%;
  aspect-ratio: 2/1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: var(--shadow-terciary);
  padding: 5px;
  position: relative;
}

.title {
  align-items: center;
  display: flex;
  gap: 20px;
  padding: 3px;
  font-size: 20px;
  z-index: 1;
  letter-spacing: 1px;
  font-weight: 500;
  color: var(--color-primary-500);
}

.description {
  color: white;
  z-index: 1;
}

.gradient {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 0;
  width: 100%;
  pointer-events: none;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.2),
    rgba(0, 0, 0, 0.1) 10%,
    rgba(0, 0, 0, 0.3) 40%,
    rgba(0, 0, 0, 0.4) 70%,
    rgba(0, 0, 0, 0.7) 100%
  );
}

.missionItem {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-shadow: var(--shadow-terciary);
  padding: 5px;
  position: relative;
}

.title {
  align-items: center;
  display: flex;
  gap: 20px;
  padding: 3px;
}
